.card {
    height: 100px;
}

.button {
    width: 125px;
    height: 125px;
}

.upper-frame {
    height: 65%;
    background-color: black;
    padding: 20px;
}

.lower-frame {
    height: 35%;
}

.test {
    height: inherit;
}

.player-win-token {
    max-height: 100px;
    max-width: 100px;
    background-color: yellow;
}

.video-overlay {
    height: 100vh;
    position: fixed;
    left: 50%;
}

.upper-frame-image {
    height: inherit;
}

.body {
    height: 1750px;
    width: 1080px;
    background-color: antiquewhite;
}

.video {
    max-height: 1000px;
    // margin-top: 150px;
}

.opponent-screen {
    height: inherit;
    background-color: greenyellow;
}

.oppenent-image-padding {
    padding: 10px
}

.opponent-image {
    max-height: 300px;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
