.card {
    height: 100px;
}

.button {
    width: 125px;
}

.upper-frame {
    height: 65%;
}

.lower-frame {
    height: 35%;
}

.test {
    height: inherit;
}

.player-win-token {
    max-height: 100px;
    max-width: 100px;
    background-color: yellow;
}

.video-overlay {
    height: 100vh
}

.upper-frame-image {
    height: inherit
}

.body {
    height: 100vh
}

.video {
    max-height: 650px;
}

.opponent-screen {
    height: 100vh;
    background-color: greenyellow;
}

.opponent-image {
    max-height: 300px;
}